---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>General Pages</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == 'notes' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>RNA-seq</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == 'RNA-seq' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Variant Calling</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == 'workshop' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
