<section class="tiles">
{% assign sortedDecks = (site.slides | sort: 'date') | reverse %}
{% for deck in sortedDecks %}
	<article class="style{{ forloop.index | plus:1 }}">
		<span class="image">
			<div class="icon">
				<i class="fas fa-user-tie"></i>
			</div>
			<div class="date">
				{{ deck.date | date: '%B %d, %Y' }}
			</div>
			<img src="{{ site.url }}{{ site.baseurl }}/images/stock/pic02.jpg" alt="" />
		</span>
		<a href="{{ deck.url | prepend:site.baseurl | prepend:site.url }}" target="_blank">
			<h2>{{ deck.title }}</h2>
			<div class="content">
				<p>{{ deck.tagline | truncatewords: 10 }}</p>
			</div>
		</a>
	</article>
{% endfor %}

</section>
