<section class="tiles">
{% assign sortedPosts = (site.posts | sort: 'date') | reverse %}
{% for post in sortedPosts %}
	<article class="style{{ forloop.index | plus:1 }}">
		<span class="image">
			{% if post.tag-icon %}
			<div class="icon">
				<i class="{{post.tag-icon}}"></i>
			</div>
			{% endif %}
			<div class="date">
				{{ post.date | date: '%B %d, %Y' }}
			</div>
			<img src="{{ site.url }}{{ site.baseurl }}/images/stock/pic02.jpg" alt="" />
		</span>

		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.tagline | truncatewords: 10 }}</p>
			</div>
		</a>
	</article>
{% endfor %}
</section>
