<!DOCTYPE html>
<html>
        {% include head.html %}
	<body id="top">

                <div id="post">
                <!--- button navigation --->
                    <section align="center">
                        <ul class="actions">
                            <li><a href="javascript:history.back()" class="button" title="Back"><span class="icon fa-arrow-circle-left"></span></a></li>
                            <li><a href="{{ site.url }}" class="button" title="Home"><span class="icon fa-home"></span></a></li>
                            <li><a href="{{ site.url }}#contact-details" class="button" title="Contact"><span class="icon fa-envelope"></span></a></li>
                        </ul>
                        <hr/>
                    </section>


                <!--- post --->
                    <article>
                        <header class="major">
                            <h2 class="post-title">{{ page.title }}</h2>
                                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                        </header>

                        <section>
                            {{ content }}
                        </section>

                    </article>

                </div>

	</body>
</html>

<script>hljs.initHighlightingOnLoad();</script>
