---
layout: default
---
<div id="main">
<!--- button navigation --->
    <section align="center">
        <ul class="actions">
            <li><a href="javascript:history.back()" class="button" title="Back"><span class="icon fa-arrow-circle-left"></span></a></li>
            <li><a href="{{ site.url }}" class="button" title="Home"><span class="icon fa-home"></span></a></li>
            <li><a href="{{ site.url }}#contact-details" class="button" title="Contact"><span class="icon fa-envelope"></span></a></li>
        </ul>
        <hr/>
    </section>

<!--- publications --->
    <article>
        <header class="major">
            <h2 class="post-title">Publications</h2>
        </header>
        <section>
          <ul class="posts">
            {% for post in site.categories.publications %}
              <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </section>
            <p class="post-meta">Also see:</p>
            <ul class="actions">
                <li><a href="https://scholar.google.co.uk/citations?user=sVMdRQMAAAAJ&hl=en" class="button small">GoogleScholar <span class="icon fa-google"></span></a></li>
                <li><a href="https://www.researchgate.net/profile/will_rowe/" class="button small">ResearchGate <span class="icon fa-globe"></span></a></li>
            </ul>
    </article>
<hr/>

<!--- presentations --->
    <article>
        <header class="major">
            <h2 class="post-title">Presentations</h2>
                <p class="post-meta">Slide decks from conferences, lab talks and teaching.</p>
        </header>
        <section>
          <ul class="posts">
            {% for post in site.slides %}
              {% if post.group == 'presentation' %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
</div>
